{% extends "base.jinja" %}

{%- block description %}{% endblock description -%}

{%- block baserepos %}
RUN rpm -e subscription-manager


####### Install missing dependencies from centos{{ major }} ########
RUN yum-config-manager --add-repo http://ftp.fau.de/centos/{{ major }}/os/x86_64/
RUN yum-config-manager --add-repo http://ftp.fau.de/centos/{{ major }}/updates/x86_64/
RUN yum-config-manager --add-repo http://ftp.fau.de/centos/{{ major }}/extras/x86_64/
{% if major == '6' %}
RUN rpm --import http://vault.centos.org/centos/{{ major }}/os/x86_64/RPM-GPG-KEY-CentOS-{{ major }}
{% else %}
RUN rpm --import http://ftp.fau.de/centos/{{ major }}/os/x86_64/RPM-GPG-KEY-CentOS-{{ major }}
{% endif %}
{% endblock baserepos -%}

{%- block testpackages %}
RUN yum-config-manager --add-repo http://download.opensuse.org/repositories/systemsmanagement:/saltstack:/testing:/testpackages/RHEL_{{ major }}/
RUN rpm --import http://download.opensuse.org/repositories/systemsmanagement:/saltstack:/testing:/testpackages/RHEL_{{ major }}/repodata/repomd.xml.key
{% endblock testpackages %}

{%- block salt %}
{%- set obs_base_url = "http://download.opensuse.org/repositories/systemsmanagement:/saltstack" -%}
RUN yum-config-manager --add-repo {{ salt_repo_url }}
RUN rpm --import {{ salt_repo_url }}/repodata/repomd.xml.key
{% endblock salt %}

{% block preinstall %}
RUN yum -y --nogpgcheck clean all
RUN yum -y --nogpgcheck install which make gcc-c++ rpm-build quilt tar iproute bind-utils net-tools
RUN yum -y --nogpgcheck install test-package-0.0-5.4.noarch
{% endblock preinstall -%}

{%- block install -%}
RUN yum -y --nogpgcheck install openssh-clients openssh-server nc tzdata python-urllib3 vim vim-data libcurl-devel libopenssl-devel
{% if major == '6' %}
RUN pip install --no-index -f /root/wheels/ -r /root/py26-docker-requirements.txt
{%- else -%}
RUN pip install --no-index -f /root/wheels/ -r /root/docker-requirements.txt
{% endif %}
RUN rpm -e --quiet python-salt-testing || true
RUN pip uninstall -y salttesting || true
RUN yum -y --nogpgcheck install git
RUN pip install -U --no-deps git+https://github.com/saltstack/salt-testing.git

{%- if flavor == "devel" %}
RUN /root/bin/prepare_devel.sh
#ADD salt.archive /salt/src/salt-devel
#RUN pip install -e /salt/src/salt-devel
{% else %}
RUN yum -y --nogpgcheck install salt-master salt-minion salt-proxy salt-ssh python-markupsafe
{% endif -%}
{% endblock install %}

{%- block postinstall %}
# RUN yum -y --nogpgcheck install oscap openscap-content
{% endblock postinstall %}

{%- block entrypoint %}
ENTRYPOINT ["make", "-f", "/root/Makefile", "-C", "/salt-toaster"]
CMD ["default"]
{% endblock entrypoint %}
