{% extends "rhel.jinja" %}

{%- block description %}
FROM registry.mgr.suse.de/rhel8:latest
LABEL org.opencontainers.image.authors="Pablo Suarez Hernandez <psuarezhernandez@suse.com>
{% endblock description -%}

