{% extends "base.jinja" %}

{%- block description %}
FROM {{ parent_image }}
LABEL org.opencontainers.image.authors="Mihai Dinca <mdinca@suse.com>"
{% endblock description %}

{%- block copy %}
COPY bin/install_salt.sh /root/bin/install_salt.sh
{% endblock copy -%}

{%- block baserepos -%}
# Use your credentials for the 'nu.novell' domain within the URL, in case required
RUN zypper -n ar -f http://nu.novell.com/SUSE/Products/SLE-SERVER/{{ novel_repo_name }}/x86_64/product/ "SLES {{ repo_label }} Pool"
RUN zypper -n ar -f http://nu.novell.com/SUSE/Updates/SLE-SERVER/{{ novel_repo_name }}/x86_64/update/ "SLES {{ repo_label }} Updates"
RUN zypper -n ar -f http://nu.novell.com/SUSE/Products/SLE-SDK/{{ novel_repo_name }}/x86_64/product/ "SLE-SDK {{ repo_label }} Pool"
RUN zypper -n ar -f http://nu.novell.com/SUSE/Updates/SLE-SDK/{{ novel_repo_name }}/x86_64/update/ "SLE-SDK {{ repo_label }} Updates"
RUN zypper -n ar -f http://nu.novell.com/SUSE/Products/SLE-Manager-Tools/{{ major }}/x86_64/product/ "SLE-Manager-Tools {{ major }} Pool"
RUN zypper -n ar -f http://nu.novell.com/SUSE/Updates/SLE-Manager-Tools/{{ major }}/x86_64/update/ "SLE-Manager-Tools {{ major }} Updates"
{% endblock baserepos %}

{%- block testpackages %}
RUN zypper -n ar -f http://download.opensuse.org/repositories/systemsmanagement:/saltstack:/testing:/testpackages/{{ salt_repo_name }}/ "testpackages"
{% endblock testpackages -%}

{%- block salt %}
{%- if flavor != "devel" %}
RUN zypper -n ar -f {{ salt_repo_url }} "salt"
RUN zypper -n mr -p 1 salt
{% endif -%}
{% endblock salt %}

{% block preinstall %}
RUN zypper --non-interactive --gpg-auto-import-keys ref
RUN zypper -n in rpm-build
{% from 'macros' import add_packages with context %}
{{ add_packages(major) }}
{% endblock preinstall %}

{%- block install %}
{%- if flavor == "devel" %}
RUN /root/bin/prepare_devel.sh

ADD salt.archive /salt/src/salt-devel
RUN pip install -e /salt/src/salt-devel

{% else %}
RUN /root/bin/install_salt.sh
{% endif -%}
{% endblock install %}

{%- block postinstall %}
RUN zypper -n rm container-suseconnect
RUN zypper -n in netcat-openbsd timezone # spacewalk-oscap openscap-content vim vim-data
{% if major == "11" %}
RUN rpm -e --quiet python-salt-testing || true
RUN pip uninstall -y salttesting || true
{% endif -%}
RUN pip install -U --no-deps --no-index -f /root/wheels /root/wheels/salt-testing-2018.1.16.tar.gz

{% if major == "12" %}
RUN zypper -n in python2-pyOpenSSL
{% elif major > "12" %}
RUN zypper -n in python3-pyOpenSSL
{% endif -%}
{% if flavor in ["products", "products-testing", "products-next", "products-next-testing", "devel"] %}
RUN zypper --non-interactive install libcurl-devel libopenssl-devel
{% endif %}
{%- endblock postinstall %}

{% block postpip %}
{% if major == "12" %}
RUN pip --trusted-host pypi.python.org install rsa==3.4.2
{% endif -%}
{% if flavor in ["products-3000", "products-3000-testing"] %}
RUN pip --trusted-host pypi.python.org install pytest==4.6.5 pytest-helpers-namespace pytest-timeout mock timelib boto kubernetes==2.0.0 apache-libcloud unittest2 pytest-salt==2020.1.27 gitpython jmespath
{% else %}
RUN pip --trusted-host pypi.python.org install pytest==4.6.5 pytest-helpers-namespace pytest-timeout mock timelib boto kubernetes==2.0.0 apache-libcloud unittest2 pytest-salt==2019.12.7 gitpython
{% endif %}
{% endblock postpip %}

{%- block entrypoint %}
ENTRYPOINT ["make", "-f", "/root/Makefile", "-C", "/salt-toaster"]
CMD ["default"]
{% endblock entrypoint %}
