{% extends "ubuntu.jinja" %}

{%- block description %}
FROM registry.mgr.suse.de/ubuntu:16.04
{% endblock description %}

{% block salt %}
{{ super() }}
RUN apt-get install -q -y python-distutils-extra
{% endblock salt %}
