{% extends "ubuntu.jinja" %}

{%- block description %}
FROM registry.mgr.suse.de/ubuntu:18.04
{% endblock description %}

{% block salt %}
{{ super() }}
RUN apt-get install -q -y python3-distutils
{% endblock salt %}
