{% extends "base.jinja" %}

{%- block description %}{% endblock description -%}

{%- block salt %}
RUN apt-get update
RUN apt-get install -q -y wget gnupg2 apt-utils vim iproute2 dnsutils
{%- if flavor == "products-testing" %}
RUN wget -qO - http://download.opensuse.org/repositories/systemsmanagement:/saltstack:/products:/testing:/debian/xUbuntu_{{ major }}.{{ minor }}/Release.key | apt-key add -
RUN echo "deb [trusted=yes] http://download.opensuse.org/repositories/systemsmanagement:/saltstack:/products:/testing:/debian/xUbuntu_{{ major }}.{{ minor }} ./" >> /etc/apt/sources.list.d/salt.list
RUN echo "deb-src [trusted=yes] http://download.opensuse.org/repositories/systemsmanagement:/saltstack:/products:/testing:/debian/xUbuntu_{{ major }}.{{ minor }} ./" >> /etc/apt/sources.list.d/salt.list
{%- elif flavor == "products" %}
RUN wget -qO - http://download.opensuse.org/repositories/systemsmanagement:/saltstack:/products:/debian/xUbuntu_{{ major }}.{{ minor }}/Release.key | apt-key add -
RUN echo "deb [trusted=yes] http://download.opensuse.org/repositories/systemsmanagement:/saltstack:/products:/debian/xUbuntu_{{ major }}.{{ minor }} ./" >> /etc/apt/sources.list.d/tests.list
RUN echo "deb-src [trusted=yes] http://download.opensuse.org/repositories/systemsmanagement:/saltstack:/products:/debian/xUbuntu_{{ major }}.{{ minor }} ./" >> /etc/apt/sources.list.d/tests.list
{%- endif %}
ENV DEBIAN_FRONTEND=noninteractive
RUN apt-get update
# HACK: workaround for bsc#1186738
RUN mkdir -p /var/cache/salt/minion
RUN apt-get -q -y install salt-master salt-minion salt-ssh
{% endblock salt %}

{%- block preinstall -%}
RUN apt-get install -q -y python3-pip python3-cherrypy3
RUN apt-get install -q -y python3-dev make openssh-server rsync locales libcurl4-openssl-dev libssl-dev
RUN locale-gen --purge en_US.UTF-8
RUN pip3 --trusted-host pypi.python.org install --upgrade pytest==3.6.1 pytest-timeout mock timelib boto six kubernetes==2.0.0 apache-libcloud pyyaml==3.11 unittest2 pytest-salt==2020.1.27
{% endblock preinstall -%}

{% block pip %}
RUN pip3 install --no-index --upgrade --force psutil==5.4.5  # overwrite old psutil using pip
RUN pip3 install --upgrade pytest-tempdir
RUN pip3 install nox
{% endblock pip %}

{%- block entrypoint %}
ENTRYPOINT ["make", "-f", "/root/Makefile", "-C", "/salt-toaster"]
CMD ["default"]
{% endblock entrypoint %}
