[pytest]
addopts = -v --tb=line

usefixtures = transplant_configs

python_files =
    unit/*

ignore_list =
    unit/zypp_plugins_test.py # BogusIO missing in zypp_plugin
    unit/netapi/rest_tornado/test_handlers.py
    unit/returners/smtp_return_test.py
    unit/transport/zeromq_test.py   # Prevent pytests hang after tests

xfail_list =
    # not working in docker containers
    unit/modules/cmdmod_test.py::CMDMODTestCase::test_run
    unit/transport/tcp_test.py::BaseTCPReqCase::*

    # failing in jenkins + sles12 sles12sp1
    unit/netapi/rest_tornado/test_utils.py::TestEventListener::test_simple
    unit/netapi/rest_tornado/test_utils.py::TestEventListener::test_timeout

    # failing in jenkins + sles12
    unit/netapi/rest_tornado/test_utils.py::TestEventListener::test_set_event_handler

    # failing in jenkins + rhel6
    unit/utils/event_test.py::TestSaltEvent::test_event_matching_all

    # https://github.com/saltstack/salt/pull/36325 but not yet in our package
    unit/modules/blockdev_test.py::TestBlockdevModule::test_resize2fs

xfail_list_testing =
    unit/conf_test.py::ConfTest::test_conf_master_sample_is_commented
    unit/conf_test.py::ConfTest::test_conf_minion_sample_is_commented
    unit/conf_test.py::ConfTest::test_conf_proxy_sample_is_commented
    unit/engines/sqs_events_test.py::EngineSqsEventTestCase::test_master_message_fires
    unit/engines/sqs_events_test.py::EngineSqsEventTestCase::test_minion_message_fires
    unit/engines/sqs_events_test.py::EngineSqsEventTestCase::test_no_queue_present
